#experiment-firing-pic {
	width: 65%;
	cursor: pointer;
	border-radius: 15px;
}

#hybrid-theoretical-div-left {
	width: 55%;
	display: flex;
	align-items: center;
}

#hybrid-theoretical-div-right {
	width: 45%;
	line-height: 1.5;
	padding: 0 2vw;
}

#c-star-pic {
	width: 80%;
	cursor: pointer;
	border-radius: 15px;
}

#p-and-id-pic {
	width: 75%;
	cursor: pointer;
	border-radius: 15px;
}